@use '../../../App.scss' as rs;

@mixin bg() {
  background-size: cover;
  background-position: center;
}

.MainScreen {
  width: 100%;
  background-repeat: no-repeat;

  .swiper {
    width: 100%;
    aspect-ratio: 1920/1010;

    .swiper-slide {
      position: relative;
    }
    .basic {
      background: url(../../../../public/images/movieScreen1.jpg);
      @include bg();
    }
    .movie {
      background: url(../../../../public/images/main/movieScreen2.jpg);
      @include bg();
    }
    .series {
      background: url(../../../../public/images/main/movieScreen1.jpg);
      @include bg();
    }
    .original {
      background: url(../../../../public/images/main/movieScreen3.jpg);
      @include bg();
    }

    .textBox {
      width: 40%;
      aspect-ratio: 740/450;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      padding-left: 4%;

      .movieTitleImg {
        height: 158px;
        width: auto;
        margin-bottom: 40px;
        &.movie {
          background: url('../../../../public/images/main/mainTItle.png');
          background-repeat: no-repeat;
        }

        &.series {
          background: url('../../../../public/images/main/seriesTitle.png');
          background-repeat: no-repeat;
        }

        &.original {
          background: url('../../../../public/images/main/originalTItle.png');
          background-repeat: no-repeat;
        }
      }

      .movieInfo {
        display: flex;
        justify-content: start;
        align-items: center;
        gap: 12px;
        @include rs.font(1.6rem, 600, #fff);
        margin-bottom: 34px;
        user-select: none;
        cursor: default;

        .age {
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 4px;
          &::before {
            display: inline-block;
            @include rs.font(1.4rem, 500, #fff);
            padding: 4px 8px;
          }

          &.ageAll {
            background-color: rgba(40, 167, 69, 0.6);
            border: 1px solid rgba(255, 255, 255, 0.2);

            &::before {
              content: 'All';
              @include rs.font(1.4rem, 500, #fff);
            }
          }

          &.age5 {
            background-color: rgba(40, 167, 69, 0.6);
            border: 1px solid rgba(255, 255, 255, 0.2);
            border-radius: 4px;

            &::before {
              content: '5세 이상 관람가';
            }
          }

          &.age7 {
            background-color: rgba(40, 167, 69, 0.6);
            border: 1px solid rgba(255, 255, 255, 0.2);
            border-radius: 4px;

            &::before {
              content: '7세 이상 관람가';
            }
          }

          &.age12 {
            background-color: rgba(40, 167, 69, 0.6);
            border: 1px solid rgba(255, 255, 255, 0.2);
            border-radius: 4px;

            &::before {
              content: '12세 이상 관람가';
            }
          }
          &.age15 {
            background-color: rgba(220, 115, 23, 0.6);
            border: 1px solid rgba(220, 115, 23, 0.2);
            border-radius: 4px;

            &::before {
              content: '15세 이상 관람가';
            }
          }
          &.age18 {
            background-color: rgba(226, 0, 0, 0.6);
            border: 1px solid rgba(220, 115, 23, 0.2);
            border-radius: 4px;

            &::before {
              content: '18세 이상 관람가';
            }
          }
        }
      }

      .overview {
        @include rs.font(1.8rem, 400, #fff);
        letter-spacing: -0.45px;
        line-height: 150%;
        margin-bottom: 40px;
        user-select: none;
        cursor: default;
        word-break: keep-all;
      }

      .nowPlay {
        padding: 12px 16px;
        @include rs.font(2rem, 500, #333);
        border-radius: 8px;
        background: #fff;
        box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.15);
        display: inline-flex;
        align-items: center;
        gap: 10px;

        &::after {
          content: '';
          display: inline-block;
          width: 14px;
          aspect-ratio: 1/1;
          background: url('../../../../public/images/main/nowPlay.svg');
          background-repeat: no-repeat;
          background-position: center;
          background-size: contain;
        }
      }

      .detailInfo {
        border-radius: 8px;
        border: 1px solid rgba(255, 255, 255, 0.2);
        background: rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(12px);
        padding: 12px 16px;
        @include rs.font(2rem, 500, #fff);
        margin-left: 20px;
      }
    }
  }

  .bgGra {
    width: 100%;
    aspect-ratio: 1840/250;
    margin-top: -180px;
    position: relative;
    z-index: 1;
    background: #ffffff;
    background: #ffffff;
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(2, 23, 42, 0.5) 20%,
      rgba(2, 23, 42, 1) 80%
    );
  }
}
