@use '../../../App.scss' as rs;

.mainBannerWrap {
  padding: 0 4rem;
  margin-bottom: 8rem;

  .bgImg {
    position: relative;
    margin-bottom: 8rem;


    img {
      width: 100%;
    }

    .content {
      .imgBox {
        position: absolute;
        top: 20%;
        left: 5%;
        width: 30%;

        .logo {
          img {
            width: 100%;
          }

          &.logo3 {
            width: 14.6rem;
            height: 15.8rem;
          }

          &.logo1 {
            width: 264px;
            height: 158px;
          }
        }
      }

      .textBox {
        width: 40%;
        // aspect-ratio: 507/319;
        position: absolute;
        top: 53%;
        left: 5%;
        transform: translateY(-50%);

        .movieInfo {
          display: flex;
          gap: 0.8rem;
          align-items: center;
          white-space: nowrap;
          @include rs.font(1.8rem, 600, #fff);

          .age {
            @include rs.age();
          }
        }
      }
    }
  }
}