@use '../../../App.scss' as rs;

.mainBannerWrap {
  padding: 0 4rem;
  margin-bottom: 8rem;

  .bgImg {
    position: relative;

    img {
      width: 100%;
    }

    .content {
      .imgBox {
        position: absolute;
        top: 20%;
        left: 5%;
        width: 30%;

        .logo {
          img {
            width: 100%;
          }

          &.small {
            width: 14.6rem;
            height: 15.8rem;
          }

          &.logo1 {
            width: 264px;
            height: 158px;
          }
        }
      }

      .textBox {
        width: 40%;
        // aspect-ratio: 507/319;
        position: absolute;
        top: 53%;
        left: 5%;
        transform: translateY(-50%);

        .movieInfo {
          display: flex;
          gap: 0.8rem;
          align-items: center;
          white-space: nowrap;
          @include rs.font(1.8rem, 600, #fff);

          .age {
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 4px;

            &::before {
              display: inline-block;
              @include rs.font(1.4rem, 500, #fff);
              padding: 4px 8px;
              // aspect-ratio: 40/22;
            }

            &.ageAll {
              background-color: rgba(76, 175, 80, 0.7);
              border: 1px solid rgba(255, 255, 255, 0.2);

              &::before {
                content: 'ALL';
                @include rs.font(1.4rem, 500, #fff);
              }
            }

            &.age5 {
              background-color: rgba(40, 167, 69, 0.6);
              border: 1px solid rgba(255, 255, 255, 0.2);
              border-radius: 4px;

              &::before {
                content: '5세 이상 관람가';
              }
            }

            &.age7 {
              background-color: rgba(40, 167, 69, 0.6);
              border: 1px solid rgba(255, 255, 255, 0.2);
              border-radius: 4px;

              &::before {
                content: '7세 이상 관람가';
              }
            }

            &.age12 {
              background-color: rgba(40, 167, 69, 0.6);
              border: 1px solid rgba(255, 255, 255, 0.2);
              border-radius: 4px;

              &::before {
                content: '12세 이상 관람가';
              }
            }

            &.age15 {
              background-color: rgba(220, 115, 23, 0.6);
              border: 1px solid rgba(220, 115, 23, 0.2);
              border-radius: 4px;

              &::before {
                content: '15세 이상 관람가';
              }
            }

            &.age18 {
              background-color: rgba(226, 0, 0, 0.6);
              border: 1px solid rgba(220, 115, 23, 0.2);
              border-radius: 4px;

              &::before {
                content: '18세 이상 관람가';
              }
            }
          }
        }
      }
    }
  }
}
