@use '../../../App.scss' as rs;

.marginUp {
  margin-top: -140px !important;
}

.TvKeywordList {
  padding-top: 80px;
}

.movieList {
  padding-left: 4%;
  padding-bottom: 80px;
  border: 1px solid yellow;
  max-width: 1920px;
  margin: 0 auto;

  a {
    width: 100%;

    &.flex {
      display: flex;
      align-items: center;
      gap: 12px;
      flex-direction: column;
    }
  }

  .movieThumbnail {
    border-radius: 8px;
    overflow: hidden;
    cursor: pointer;
    position: relative;
    border: 1px solid yellow;

    &.kids {
      border-radius: 16px;
    }

    &.row {
      aspect-ratio: 360/200;
    }

    &.col {
      aspect-ratio: 3/4.4;
    }

    img {
      width: 100%;
      height: 100%;
      aspect-ratio: 3/4.4;
      object-fit: cover;
      vertical-align: middle;
      transition: ease 0.3s;
      border: 1px solid red;
    }

    &:hover {
      img {
        transform: scale(1.1);
      }
    }

    .movieTitle {
      position: absolute;
      @include rs.font(2rem, 600, #fff);
      bottom: 16px;
      right: 16px;
      text-shadow: -1px -1px 0 #02172a, 1px -1px 0 #02172a, -1px 1px 0 #02172a, 1px 1px 0 #02172a;
    }
  }

  .progressBar {
    width: 72%;
    aspect-ratio: 260/4;
    border-radius: 4px;
    background: rgba(255, 255, 255, 0.3);
    position: relative;
    overflow: hidden;

    .now {
      background: #33ddff;
      position: absolute;
      top: 0;
      height: max-content;
      display: inline-block;
      color: transparent;
    }
  }
}