@use '../../../App.scss' as rs;

.SeasonMovie {
  padding: 60px 0 60px 4%;

  h2 {
    color: #fff;
    display: flex;
    gap: 16px;
    align-items: end;
  }

  .logo {
    background-position: center;
    background-size: cover;
    vertical-align: middle;
    background-repeat: no-repeat;

    &.holiday {
      width: 220px;
      height: 119px;
      background-image: url('../../../../public/images/main/Season/holiday.svg');
    }
  }

  .title {
    @include rs.font(4rem, 500, #fff);
    line-height: 150%;
    letter-spacing: -1px;
  }

  h3 {
    margin-top: 50px;
    display: flex;
    @include rs.font(2.4rem, 500, #fff);
    margin-bottom: 20px;

    &:hover {
      .arrow::before {
        visibility: visible;
        width: 60px;
        max-width: 60px;
        opacity: 1;
        transition: ease 0.4s;
      }
    }

    .arrow {
      margin-left: 30px;
      height: 20px;
      display: flex;
      align-items: center;

      &::before {
        content: '둘러보기';
        @include rs.font(1.8rem, 500, #33ddff);
        line-height: 1;
        visibility: hidden;
        width: 0px;
        max-width: 0;
        opacity: 0;
        white-space: nowrap;
        display: inline-block;
        margin-right: 8px;
      }
      &::after {
        content: '';
        width: 8px;
        height: 14px;
        display: inline-block;
        background: url('../../../../public/icon/mainArrow.svg');
      }
    }
  }

  .SeasonMovieList {
  }
}
