@use '../../../App.scss' as rs;

.SeasonList {
  padding: 60px 0 60px 4%;
  background: linear-gradient(
    180deg,
    rgba(2, 23, 42, 0.6) 4%,
    rgba(12, 48, 64, 0.6) 16%,
    rgba(47, 131, 139, 0.55) 53%,
    rgba(12, 48, 64, 0.56) 81%,
    rgba(2, 23, 42, 0.6) 100%
  );

  h2 {
    color: #fff;
    display: flex;

    align-items: end;
  }

  .logo {
    background-position: center;
    background-size: cover;
    vertical-align: middle;
    background-repeat: no-repeat;

    &.holiday {
      width: 220px;
      height: 119px;
      background-image: url('../../../../public/images/main/Season/holiday.svg');
    }

    &.winter {
      width: 250px;
      height: 110px;
      background-image: url('../../../../public/images/main/Season/winter.svg');
    }
    &.newYear {
      width: 220px;
      height: 100px;
      background-image: url('../../../../public/images/main/Season/newYear.svg');
    }
    &.valentine {
      width: 220px;
      height: 100px;
      background-image: url('../../../../public/images/main/Season/valentine.svg');
    }
    &.spring {
      width: 220px;
      height: 100px;
      background-image: url('../../../../public/images/main/Season/spring.svg');
    }
    &.family {
      width: 220px;
      height: 100px;
      background-image: url('../../../../public/images/main/Season/family.svg');
    }
    &.classic {
      width: 220px;
      height: 100px;
      background-image: url('../../../../public/images/main/Season/classic.svg');
    }
    &.horror {
      width: 220px;
      height: 140px;
      background-image: url('../../../../public/images/main/Season/horror.svg');
    }
    &.vacation {
      width: 220px;
      height: 100px;
      background-image: url('../../../../public/images/main/Season/vacation.svg');
    }
  }

  .title {
    @include rs.font(4rem, 500, #fff);
    line-height: 150%;
    letter-spacing: -1px;
  }

  h3 {
    margin-top: 50px;
    display: flex;
    align-items: center;
    @include rs.font(2.4rem, 500, #fff);
    margin-bottom: 20px;

    &:hover {
      .arrow::before {
        visibility: visible;
        width: 60px;
        max-width: 60px;
        opacity: 1;
        transition: ease 0.4s;
      }
    }

    .arrow {
      margin-left: 30px;
      height: 20px;
      display: flex;
      align-items: center;

      &::before {
        content: '둘러보기';
        @include rs.font(1.8rem, 500, #33ddff);
        line-height: 1;
        visibility: hidden;
        width: 0px;
        max-width: 0;
        opacity: 0;
        white-space: nowrap;
        display: inline-block;
        margin-right: 8px;
      }
      &::after {
        content: '';
        width: 8px;
        height: 14px;
        display: inline-block;
        background: url('../../../../public/icon/mainArrow.svg');
      }
    }
  }

  .SeasonListList {
    .swiper-slide {
      width: 100%;
      height: initial;
    }
    a {
      display: inline-block;
      width: 100%;
      height: 100%;
    }

    .MovieItem {
      height: 100%;
      border-radius: 4px;
      overflow: hidden;
      border: 1px solid orange;

      img {
        width: 100%;
        height: 100%;
        vertical-align: middle;
        object-fit: cover;
        transition: ease 0.3s;
      }

      &:hover img {
        transform: scale(1.1);
      }
    }
  }
}
