@use '../../../App.scss' as rs;

$Theme: disney, pixar, marvel, starwars, NGC, hulu, fx;
$image-root: '../../../../public/images/main/theme/';
$Theme-sizes: (
  disney: (
    width: 113px,
    height: 47px,
  ),
  pixar: (
    width: 103px,
    height: 23px,
  ),
  marvel: (
    width: 125px,
    height: 50px,
  ),
  starwars: (
    width: 100px,
    height: 50px,
  ),
  NGC: (
    width: 140px,
    height: 42px,
  ),
  hulu: (
    width: 97px,
    height: 50px,
  ),
  fx: (
    width: 92px,
    height: 50px,
  ),
);

.hidden {
  display: none !important;
}

.ThemeList {
  max-width: 1920px;
  margin: 0 auto;
  aspect-ratio: 1920/570;
  border: 1px solid transparent;
  .menu {
    margin-bottom: 90px;

    border: 1px solid red;
    ul {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 100px;
      gap: clamp(30px, 6vw, 100px);
      padding-bottom: 30px;

      li {
        width: 120px;
        height: 80px;
        cursor: pointer;
        border: 1px solid red;

        @each $Theme, $size-map in $Theme-sizes {
          &.#{$Theme} {
            $brand-width: map-get($size-map, width); // Map에서 width 값을 가져옴
            $brand-height: map-get($size-map, height); // Map에서 height 값을 가져옴
            width: $brand-width;
            height: $brand-height;
            background: url('#{$image-root}#{$Theme}.svg') no-repeat center center;
            background-size: contain;
            &:hover {
              background: url('#{$image-root}#{$Theme}_active.svg') no-repeat center center;
              opacity: 0.5;
              background-size: contain;
            }
          }

          &.#{$Theme}.active {
            background: url('#{$image-root}#{$Theme}_active.svg') no-repeat center center;
            background-size: contain;

            &:hover {
              opacity: 1;
            }
          }
        }
      }
    }
    .ThemeList {
      background: linear-gradient(
        180deg,
        rgba(2, 23, 42, 0.6) 4%,
        rgba(12, 48, 64, 0.6) 16%,
        rgba(47, 131, 139, 0.55) 53%,
        rgba(12, 48, 64, 0.56) 81%,
        rgba(2, 23, 42, 0.6) 100%
      );
      display: flex;
      padding-top: 60px;
      border-top: 1px solid rgba(255, 255, 255, 0.3);
      width: 100%;
      overflow: hidden;

      .themeText {
        width: 22.5%;
        display: flex;
        flex-direction: column;
        gap: 30px;
        align-items: center;
        justify-content: center;

        p {
          @include rs.font(clamp(1.2rem, 1.8vw, 2.4rem), 600, #fff);
          padding: 0 40px;
          line-height: 150%;
          letter-spacing: -0.6px;
          word-break: keep-all;
          text-align: center;
        }

        button {
          @include rs.font(2rem, 500, #fff);
          padding: 12px 16px;
          border-radius: 8px;
          border: 1px solid rgba(255, 255, 255, 0.2);
          background: rgba(255, 255, 255, 0.1);
          backdrop-filter: blur(12px);
        }
      }

      .themeMovie {
        width: calc(100% - 23%);

        .skeleton {
          overflow: hidden;
          display: flex;
          width: 100%;
          gap: 20px;

          .div {
            min-width: calc(100% / 4.6) !important;
            aspect-ratio: 320/454;
            border-radius: 8px;
            background-color: #a3a3a3;
          }
        }

        .swiper-slide {
          aspect-ratio: 323/480;
          border-radius: 8px;
          overflow: hidden;
          border: 1px solid green;

          a {
            width: 100%;
            height: inherit;
            display: inline-block;
          }

          .movieThumbnail {
            width: 100%;
            height: 100%;
          }
          img {
            max-width: 100%;
            width: 100%;
            height: 100%;
            vertical-align: middle;
            object-fit: cover;
            object-position: center;
            border: 1px solid blue;
            transition: ease 0.3s;
          }

          &:hover img {
            transform: scale(1.1);
          }
        }
      }
    }
  }
}
