.KidsModeWrap {
  width: 100%;
  // margin-bottom: 30px;
  label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;

    .toggleInput {
      display: none;
    }

    .toggleBg {
      display: inline-block;
      background: #ddd;
      width: 40px;
      height: 20px;
      border-radius: 50px;
      position: relative;

      &::after {
        content: '';
        position: absolute;
        top: 50%;
        left: 5%;
        transform: translateY(-50%);
        width: 16px;
        height: 16px;
        border-radius: 50px;
        background: #fff;
      }

      &.active {
        background: #33ddff;
        &::after {
          left: calc(100% - 44%);
        }
      }
    }
  }

  div {
    > p {
      font-size: 1.2rem;
    }
    .selectWrap {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 1rem;
      padding: 1rem 0;

      .dropdownWrap {
        position: relative;
        .dropdownHeader {
          display: flex;
          justify-content: space-between;
          align-items: center;
          border-radius: 8px;
          height: 4.8rem;
          padding: 0 2rem;
          background: transparent;
          border: 1px solid #888;
          color: #bbb;

          .dropdownArrow {
            width: 16px;
            height: 16px;
            background: url(../../../../public/icon/dropdownOpen.svg) no-repeat;
          }
        }

        .dropdownList {
          display: none;
        }

        &.active {
          .dropdownHeader {
            border: 1px solid #fff;
            color: #fff;

            .dropdownArrow {
              background: url(../../../../public/icon/dropdownClose.svg) no-repeat;
            }
          }

          .dropdownList {
            display: block;
            position: absolute;
            width: 100%;
            height: 50px;
            background: #25272c;
            border-radius: 8px;
            height: fit-content;
            padding: 0 2rem;
            border: 1px solid #888;
            color: #fff;
            margin-top: 5px;
            padding: 10px 20px;
            z-index: 5;

            li {
              line-height: 1.6;
            }
          }
        }
      }
    }
  }
}
