@use '../../../App.scss' as rs;
.bg {
  width: 100%;
  height: calc(var(--vh, 1vh) * 100);
  background: linear-gradient(180deg, #0a1a26 0%, #0c7471 60%, #00d1c5 100%);

  .authWrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
    padding: 6rem 5rem;
    position: fixed;
    width: 56rem;
    height: 72rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 16px;
    background: #25272c;
    color: #fff;

    .authTop {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      gap: 1.6rem;
      margin-bottom: 4rem;

      .authLogo {
        width: 20rem;
      }

      .authTitle {
        font-size: 2.8rem;
      }

      .authText {
        font-size: 1.4rem;
        line-height: 1.6;
      }
    }

    .loginFormWrap {
      .loginForm {
        display: flex;
        flex-direction: column;
        gap: 20px;

        > input {
          border: 1px solid #fff;
          width: 40rem;
          height: 4.8rem;
          border-radius: 8px;
          padding-left: 20px;
          color: #fff;
        }

        > button,
        a {
          width: 40rem;
          height: 4.8rem;
          border-radius: 8px;
          text-align: center;
          font-size: 14px;
          border: 1px solid rgba($color: #fff, $alpha: 0.2);
          background-color: rgba($color: #fff, $alpha: 0.1);
          color: #fff;
          line-height: 4.8rem;
          font-weight: 500;
          cursor: pointer;

          &:hover {
            border: 1px solid rgba(255, 255, 255, 0.2);
            background: rgba(255, 255, 255, 0.3);
            backdrop-filter: blur(12px);
          }
        }

        .loginBtn {
          border: none;
          color: #333;
          background: #fff;

          &:hover {
            background: #33ddff;
            color: #fff;
          }
        }

        .googleLoginBtn {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 1rem;
        }
      }
    }
  }
}
