@use '../../../App.scss' as rs;

.wishlistPage {
  padding-top: 200px;
  // height: 100vh;
  color: #fff;
  .inner {
    .wishWrap {
      width: 90%;
      margin: 0 auto;

      .pageTopWrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100px;
        margin-bottom: 50px;
        > h2 {
          font-size: 2.8rem;
          font-weight: 600;
        }
        .filterSelectWrap {
          position: relative;
          // margin-bottom: 8rem;
          .filterSelectHeader {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 120px;
            height: 50px;
            border-radius: 8px;
            background: #25272c;
            font-size: 1.6rem;
            // font-weight: 500;
            padding: 10px;
            border: 1px solid rgba($color: #fff, $alpha: 0.2);

            .filterToggle {
              background: url(../../../../public/icon/dropdownOpen.svg);
              display: inline-block;
              width: 20px;
              height: 20px;
            }
          }
          .filterList {
            display: none;
          }

          &.active {
            .filterToggle {
              background: url(../../../../public/icon/dropdownClose.svg);
            }
            .filterList {
              position: absolute;
              margin-top: 1rem;
              width: 100%;
              background: #25272c;
              display: flex;
              flex-direction: column;
              border: 1px solid rgba($color: #fff, $alpha: 0.2);
              font-size: 1.4rem;
              // text-align: center;
              align-items: center;
              border-radius: 8px;
              z-index: 50;
              li {
                width: 100%;
                height: 50px;
                button {
                  width: 100%;
                  height: 100%;
                  padding-left: 1rem;
                  // border: 0.5px solid rgba($color: #fff, $alpha: 0.2);
                  &:hover {
                    background: #2d2f36;
                  }
                }
              }
            }
          }
        }
      }

      .wishListWrap {
        .emptyMessage {
          font-size: 2rem;
          line-height: 1.6;
        }
        .listWrap {
          display: flex;
          flex-wrap: wrap;
          justify-content: flex-start;

          .wishItem {
            position: relative;
            margin: 0 0 5rem 4rem;
            box-shadow: 0 10px 32px -4px rgba(0, 0, 0, 0.2);
            width: 25rem;

            .imgBox {
              position: relative;
              border-radius: 8px;
              width: 100%;
              overflow: hidden;
              aspect-ratio: 2 / 3;
              background: rgba(#eee, 0.3);
              // border: 1px solid red;
              > img {
                width: 100%;
                height: 100%;
                background: rgba(#eee, 0.3);
                vertical-align: middle;
                transition: ease 0.3s;
                object-fit: cover;
              }
            }
            .hoverWrap {
              opacity: 0;
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
              position: absolute;
              width: 100%;
              height: 100%;
              top: 0;
              left: 0;
              background: rgba($color: #000000, $alpha: 0.5);
              transition: 0.3s;
              .hoverBg {
                width: 60%;
                height: 10%;
                // border: 1px solid red;
                background: rgba(#fff, 0.3);
                padding: 0.5rem 2rem;
                border-radius: 50px;
                text-align: center;
                align-items: center;
                .wishTab {
                  display: flex;
                  gap: 2rem;
                  align-items: center;
                  justify-content: center;
                }
              }
            }

            &:hover {
              .hoverWrap {
                opacity: 1;
              }
            }
          }
        }
      }
    }
  }
}
