@use '../../../App.scss' as rs;

.wishlistPage {
  padding-top: 200px;
  height: 100vh;
  color: #fff;
  .inner {
    .wishWrap {
      width: 90%;
      margin: 0 auto;
      > div {
        margin-bottom: 5rem;
        width: 100%;
      }

      .pageTopWrap {
        display: flex;
        justify-content: space-between;
        > h2 {
          font-size: 2.8rem;
          font-weight: 600;
        }
      }

      .wishListWrap {
        .listWrap {
          display: flex;
          flex-wrap: wrap;
          justify-content: flex-start;

          .wishItem {
            position: relative;
            margin: 0 0 5rem 4rem;
            box-shadow: 0 10px 32px -4px rgba(0, 0, 0, 0.2);
            width: 25rem;

            .imgBox {
              position: relative;
              border-radius: 8px;
              width: 100%;
              overflow: hidden;
              aspect-ratio: 2 / 3;
              background: rgba(#eee, 0.3);
              border: 1px solid red;
              > img {
                width: 100%;
                height: 100%;
                background: rgba(#eee, 0.3);
                vertical-align: middle;
                transition: ease 0.3s;
                object-fit: contain;
              }
            }
            // &:hover {
            .hoverWrap {
              // display: none;
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
              position: absolute;
              width: 100%;
              height: 100%;
              top: 0;
              left: 0;
              background: rgba($color: #000000, $alpha: 0.5);
              .hoverBg {
                width: 60%;
                height: 10%;
                border: 1px solid red;
                background: rgba(#fff, 0.3);
                padding: 0.5rem 2rem;
                border-radius: 50px;
                text-align: center;
                align-items: center;
                .wishTab {
                  display: flex;
                  gap: 2rem;
                  align-items: center;
                  justify-content: center;
                }
              }
              // }
            }
          }
        }
      }
    }
  }
}
