@use '../../../App.scss' as rs;

.searchPage {
  // height: 100vh;
  .searchWrap {
    padding-top: 200px;
    color: #fff;
    margin: 0 auto;
    width: 90%;

    .searchTop {
      display: flex;
      flex-direction: column;
      // height: 100vh;
      > div {
        margin-bottom: 4rem;
      }
      .searchInputWrap {
        // border: 1px solid red;
        position: relative;
        input {
          width: 100%;
          height: 56px;
          border-bottom: 2px solid #fff;
          color: #fff;
          font-size: 2.4rem;
        }
        .searchBtn {
          position: absolute;
          top: 50%;
          right: 0;
          transform: translateY(-50%);
          img {
            width: 24px;
            height: 24px;
          }
        }
      }

      .genreSelectWrap {
        position: relative;
        margin-bottom: 8rem;
        .genreSelectHeader {
          display: flex;
          align-items: center;
          justify-content: space-between;
          width: 160px;
          height: 50px;
          border-radius: 8px;
          background: #25272c;
          font-size: 1.6rem;
          // font-weight: 500;
          padding: 10px;
          border: 1px solid rgba($color: #fff, $alpha: 0.2);

          .genreToggle {
            background: url(../../../../public/icon/dropdownOpen.svg);
            display: inline-block;
            width: 20px;
            height: 20px;
          }
        }
        .genreList {
          display: none;
        }

        &.active {
          .genreToggle {
            background: url(../../../../public/icon/dropdownClose.svg);
          }
          .genreList {
            position: absolute;
            margin-top: 1rem;
            width: 360px;
            height: 240px;
            background: #25272c;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            border: 1px solid rgba($color: #fff, $alpha: 0.2);
            font-size: 1.4rem;
            text-align: center;
            align-items: center;
            border-radius: 8px;

            li {
              height: 100%;
              button {
                width: 100%;
                height: 100%;
                // border: 0.5px solid rgba($color: #fff, $alpha: 0.2);
                &:hover {
                  background: #2d2f36;
                }
              }
            }
          }
        }
      }
    }

    .searchBottom {
      .searchListWrap {
        .noResult {
          font-size: 2.4rem;
        }
        .searchList {
          // display: flex;
          // flex-wrap: wrap;
          // justify-content: flex-start;
          // align-items: center;
          // gap: 40px;
          display: grid;
          grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
          gap: 4rem;
          .searchItem {
            // width: 15%;
            margin-bottom: 4rem;
            box-shadow: 0 10px 32px -4px rgba(0, 0, 0, 0.2);

            .imgBox {
              width: 100%;
              aspect-ratio: 2 / 3;
              img {
                width: 100%;
                height: 100%;
                object-fit: contain;
                display: block;
                border-radius: 8px;
                background: rgba(#eee, 0.3);
              }
            }
          }
        }
      }
    }
  }
}
