@use "../../../App.scss" as rs;

.profileSelectBg {
  background: #0A1A26;
  align-content: center;
  justify-items: center;

  .profileSelectWrap {
    display: flex;
    flex-direction: column;
    color: white;
    gap: 6rem;
    align-items: center;

    .profileSelect {
      display: flex;
      flex-direction: column;
      gap: 6rem;

      .profiles {
        height: 100%;
        display: flex;
        gap: 8rem;
        justify-content: center;

        .profile {
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 3rem;

          .profileImgBox {
            display: block;
            width: 17.8rem;

            >img {
              width: 100%;
            }
          }

          .profileTextBox {
            color: #bbb;
            font-size: 2.4rem;
            font-weight: 500;
          }
        }

        .addNewProfile {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: space-between;

          .addProfileImgBox {
            width: 17.8rem;
            height: 17.8rem;
            display: flex;
            align-items: center;

            >a {
              display: block;
              width: 100%;
              border: 4px solid #fff;
              height: 100%;
              border-radius: 100%;

              >img {
                transform: translate(90%, 90%);
              }
            }
          }

          .addProfileTextBox {
            color: #bbb;
            font-size: 2.4rem;
            font-weight: 500;
          }
        }
      }

      .profileEditBtnWrap {
        display: flex;
        justify-content: center;

        .profileEditBtn {
          border-radius: 8px;
          border: 1px solid rgba(255, 255, 255, 0.20);
          background: rgba(255, 255, 255, 0.10);
          backdrop-filter: blur(12px);
          padding: 1.2rem 1.6rem;
          display: flex;
          align-items: center;
          font-size: 2rem;
          font-weight: 500;
        }
      }
    }
  }
}