@use '../../../App.scss' as rs;

.videoInner {
  position: fixed; // 화면에 고정
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #000;
  z-index: 9999; // 헤더보다 위에 오도록 매우 높은 값 설정
  display: flex;
  justify-content: center;
  align-items: center;

  .videoWrap {
    width: 100%;
    height: 100%;

    iframe {
      width: 100%;
      height: 100%;
      border: none;
    }
  }

  .loading {
    color: #fff;
    font-size: 1.2rem;
  }
}
