@use "../../../App.scss" as rs;

.payInputWrap {
    max-width: 44.8rem;
    margin: 0 auto;
    margin-top: 3rem;

    .inputWrap {
        margin-bottom: 3rem;

        p {
            @include rs.font (1.2rem, 400, #ddd);
            margin-bottom: 8px;
        }

        input {
            border: 1px solid #fff;
            border-radius: 8px;
            width: 100%;
            height: 5.6rem;
            padding: 1.6rem;
            color: #ddd;
        }


    }

    .cardInfo {
        display: flex;
        gap: 8px;

        input {
            border: 1px solid #fff;
            border-radius: 8px;
            width: 100%;
            height: 5.6rem;
            padding: 0 6rem 0 1.6rem;
        }
    }
}