@use "../../../App.scss" as rs;

.payInputWrap {
    max-width: 44.8rem;
    margin: 0 auto;

    .inputWrap {
        margin-top: 3rem;

        p {
            @include rs.font (1.2rem, 400, #ddd);
            margin-bottom: 8px;
        }

        input {
            border: 1px solid #fff;
            border-radius: 8px;
            width: 100%;
            height: 5.6rem;
            padding: 1.6rem;
            color: #ddd;

            &.error {
                border: 1px solid #FF2E2E;
            }

            &.success {
                border: 1px solid #22c55e;
                // outline: none;
            }
        }

        .errorMsg {
            display: block;
            margin-top: 0.8rem;
            @include rs.font (1.2rem, 400, #FF2E2E);
        }



    }

    .anyCard {
        position: relative;

        img {
            position: absolute;
            top: 50%;
            right: 15px;
        }
    }

    .cardInfo {
        display: flex;
        gap: 8px;

        input {
            border: 1px solid #fff;
            border-radius: 8px;
            width: 100%;
            height: 5.6rem;
            padding: 0 6rem 0 1.6rem;
        }
    }
}