@use "../../../App.scss" as rs;

.payCheckWrap {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .check {
        display: flex;
        gap: 12px;
        margin-bottom: 3rem;
        width: 44rem;

        p {
            @include rs.font(1.4rem, 400, #fff);
            line-height: 150%;

            span {
                @include rs.font(1.4rem, 500, #ddd);
                border-bottom: 1px solid #ddd;
                cursor: pointer;
            }
        }

        input {
            appearance: none;
            width: 20px;
            height: 20px;
            border-radius: 2px;
            border: 1px solid #fff;

            &:checked {
                width: 20px;
                height: 20px;
                background: url("/images/subscription/check.png") no-repeat;
            }
        }
    }
}