@use '../../../App.scss' as rs;

.payDesWrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 3rem;

    .payDes {
        @include rs.font(1.4rem, 400, #fff);
        margin-bottom: 3rem;
        line-height: 150%;
        width: 44rem;



        span {
            @include rs.font(1.4rem, 500, #ddd);
            border-bottom: 1px solid #ddd;
            cursor: pointer;
        }
    }
}