@use '../../../App.scss' as rs;

.subscriptionContentWrap {
    background: rgba(255, 255, 255, 0.1);
    margin-top: 2rem;
    border-radius: 8px;
    width: 35.4rem;
    // height: 45rem;
    // width: 50%;
    aspect-ratio: 0.78666;
    align-content: center;
    text-align: center;
    padding: 0 4rem;

    .imgBox {
        display: flex;
        gap: 1.6rem;
        text-align: center;
        align-items: center;
        justify-self: center;

        >div {
            width: 71px;
            height: 40px;
            align-content: center;
        }

        .disney {
            width: 71px;
            height: 40px;
            // margin-right: 1.6rem;
        }

        .tving {
            width: 62px;
            height: 16px;
            // margin-right: 1.6rem;
        }

        .wavve {
            width: 75px;
            height: 16px;
        }

        .none {
            display: none;
        }
    }

    .title {
        @include rs.font(2.2rem, 700, #fff);
        margin-top: 1.6rem;
        padding-bottom: 1.6rem;
        border-bottom: 1px solid rgba(255, 255, 255, 0.3);
        text-align: center;
    }

    .price {
        margin: 3rem 0;
        text-align: center;

        .priceTitle {
            @include rs.font(1.4rem, 600, #fff);
        }

        .priceDes {
            @include rs.font(1.2rem, 400, #ddd);
            margin-top: 0.8rem;

        }
    }

    .desWrap {
        margin-bottom: 3rem;
        text-align: start;

        p {
            @include rs.font(1.2rem, 400, #fff);
            margin-top: 0.8rem;
            display: flex;
            align-items: center;

            img {
                margin-right: 8px;

            }
        }
    }

    button {
        width: 274px;
        height: 40px;
        background: #fff;
        border-radius: 8px;
        color: #333;
        white-space: nowrap;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
        @include rs.font(1.6rem, 600, #333);
        letter-spacing: -2.5%;
        line-height: 1;
        cursor: pointer;

        &:hover {
            background: #f4f4f4;
        }
    }
}