@use '../../../App.scss' as rs;

.subToggleWrap {
    margin-top: 4rem;

    .subToggle {
        display: flex;
        justify-content: center;
        align-items: center;
        // gap: 2rem;
        width: 34.4rem;
        height: 4.4rem;
        background: rgba($color: #fff, $alpha: 0.1);
        border-radius: 10rem;

        .subBtn {
            aspect-ratio: 162/33;
            white-space: nowrap;
            border-radius: 10rem;
            cursor: pointer;
            width: 16.8rem;
            height: 3.3rem;
            display: flex;
            align-items: center;
            justify-content: center;


            &.active {
                background: rgba($color: #33DDFF, $alpha: 0.3);
                box-shadow:
                    inset 0 -2px 6px rgba(0, 0, 0, 0.15),
                    0 2px 6px rgba(0, 0, 0, 0.15);

                button {
                    background: none;
                    @include rs.font(1.4rem, 400, #fff);
                    cursor: pointer;
                    padding: 1rem 5rem;
                }
            }

            button {
                @include rs.font(1.4rem, 400, #888);
                cursor: pointer;
                padding: 1rem 5rem;
            }
        }

    }

    .sub {
        display: none;
    }

    .pay {
        display: none;
    }
}