.profileImageBg {
  background: #0a1a26;
  align-content: center;
  justify-items: center;
  padding: 10rem;
  height: 100vh;

  .profileImageWrap {
    display: flex;
    flex-direction: column;
    color: white;
    gap: 6rem;
    align-items: center;

    .profileImageTop {
      display: flex;
      flex-direction: column;
      gap: 6rem;
      align-items: center;

      .selectImg {
        display: flex;
        aspect-ratio: 1/1;
        height: 17.8rem;
        // height: 70%;
        // border: 1px solid white;
      }
    }

    .profileImageBottom {
      width: 70%;
      display: flex;
      justify-content: center;
      align-items: center;
      align-content: center;
      gap: 4rem 6rem;
      flex-wrap: wrap;

      .profileImg {
        width: 13rem;
        aspect-ratio: 1/1;
        display: flex;

        &.active {
          > img {
            border: 3px solid white;
            border-radius: 100%;
          }
        }
      }
    }

    .profileImgBtnWrap {
      display: flex;
      justify-content: center;
      width: 100%;

      .profileImgBtn {
        width: 10%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 2rem;
        font-weight: 500;
        padding: 1.2rem 1.6rem;
        border-radius: 8px;
        border: 1px solid rgba(255, 255, 255, 0.2);
        background: rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(12px);
      }
    }
  }
}
