.agesetPopupWrap {
  position: fixed;
  background: rgba(0, 0, 0, 0.50);
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 100000;

  .agesetPopup {
    border-radius: 16px;
    border: 1px solid rgba(255, 255, 255, 0.20);
    background: #333;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 5rem 7rem;
    display: flex;
    flex-direction: column;
    gap: 4rem;
    align-items: center;
    max-width: 40%;

    .agesetPopupTop {
      display: flex;
      flex-direction: column;
      gap: 2.2rem;
      align-items: center;
      width: 95%;

      .ageSetTitle {
        font-size: 3rem;
        font-weight: 600;
      }

      >span {
        color: #ddd;
        font-size: 1.8rem;
        line-height: 150%;
      }
    }

    .ageProgressBar {
      position: relative;
      width: 95%;
      height: 4px;
      background: #ddd;
      border-radius: 4px;
      display: flex;
      justify-content: space-between;
      
      .ageProgressFill {
        position: absolute;
        height: 100%;
        width: 100%;
        background: #33DDFF;
        transition: width 0.3s ease;
        border-radius: 4px;
      }

      .ageProgressBtn {
        display: flex;
        width: 100%;
        gap: 12%;

        .progressbtn {
          display: flex;
          width: 100%;
          height: 100%;
          margin-top: 6px;
          justify-content: center;

          .ageDot {
            position: absolute;
            top: -6px;
            width: 14px;
            height: 14px;
            border-radius: 50%;
            background: #fff;

            &.active {
              background: #33DDFF;
            }
          }

          span {
            margin-top: 3px;
          }
        }
      }
    }

    .agesetPopupBtnWrap {
      display: flex;
      justify-content: space-between;
      width: 25%;

      .ageSave {
        padding: 1.2rem 1.8rem;
        border-radius: 8px;
        background: #FFF;
        backdrop-filter: blur(12px);
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.8rem;
        font-weight: 500;
        color: #333;
      }

      .ageDel {
        padding: 1.2rem 1.8rem;
        border-radius: 8px;
        border: 1px solid rgba(255, 255, 255, 0.20);
        background: rgba(255, 255, 255, 0.10);
        backdrop-filter: blur(12px);
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.8rem;
        font-weight: 500;
        color: #FFF;
      }
    }
  }
}