.profileuidBox {
  display: flex;
  justify-content: space-between;
  width: 100%;

  .left {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    .uidInfo {
      display: flex;
      flex-direction: column;
      gap: 1rem;

      >p {
        font-size: 2.4rem;
        font-weight: 500;
      }
    }

    .unameInput {
      display: flex;
      flex-direction: column;
      gap: 1rem;


      >input {
        width: 100%;
        font-size: 1.8rem;
        font-weight: 400;
        padding: 1.6rem;
        color: white;
        border-radius: 8px;
        background: rgba(255, 255, 255, 0.10);

        &.nameinputWrong {
          border-radius: 8px;
          border: 1px solid #FF2E2E;
        }
      }

      .error {
        color: #FF2E2E;
        font-size: 1.2rem;
        font-weight: 400;
      }
    }
  }

  .right {
    width: 21%;

    .userPhoto {
      aspect-ratio: 1/1;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;

      &.active {

        >img {
          filter: brightness(50%);
        }
      }

      >img {
        width: 100%;
      }

      >span {
        display: block;
        width: 3.6rem;
        height: fit-content;
        position: absolute;
        top: 0;
        transform: translate(10%, 105%);
      }
    }
  }
}