@use '../../../App.scss' as rs;

.profileEditBg {
  background: #0A1A26;
  padding: 10rem;
  align-content: center;
  justify-items: center;
  height: 100vh;

  .profileEditWrap {
    display: flex;
    flex-direction: column;
    color: white;
    gap: 6rem;
    align-items: center;

    .profileEditBtnwrap {
      display: flex;
      width: 50%;
      align-items: center;
      justify-content: space-between;

      &:has(.profileComBtn:only-child) {
        justify-content: center;
      }

      .profileComBtn {
        display: flex;
        border-radius: 8px;
        border: 1px solid rgba(255, 255, 255, 0.2);
        background: rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(12px);
        align-items: center;
        padding: 1.2rem 1.6rem;
        width: 13rem;
        justify-content: center;
        color: white;
        font-size: 2rem;
        font-weight: 500;
      }

      .profileDelBtn {
        color: #ddd;
        font-size: 1.8rem;
        font-weight: 500;
        line-height: 150%;
        text-decoration: underline;
        cursor: pointer;
      }

      .profileDelBtn:hover {
        color: #FF2E2E;

      }
    }
  }
}