@use '../../../App.scss' as rs;

.profileEditBg {
  background: #0A1A26;
  padding: 10rem;
  align-content: center;
  justify-items: center;
  height: 100vh;

  .profileEditWrap {
    display: flex;
    flex-direction: column;
    color: white;
    gap: 6rem;
    align-items: center;

    .profileEditBtnwrap {
      display: flex;
      width: 50%;
      justify-content: space-between;

      .profileEditBtn {
        display: flex;
        border-radius: 8px;
        border: 1px solid rgba(255, 255, 255, 0.20);
        background: rgba(255, 255, 255, 0.10);
        backdrop-filter: blur(12px);
        align-items: center;
        padding: 1.2rem 1.6rem;
        width: 13rem;
        justify-content: center;

        >button {
          color: white;
          font-size: 2rem;
          font-weight: 500;
          background: none;
          cursor: pointer;
        }
      }

      .pofileDelBtn {
        color: #DDD;
        text-align: center;
        font-size: 1.8rem;
        font-weight: 500;
        line-height: 150%;
        letter-spacing: -0.45px;
        text-decoration-line: underline;
        text-decoration-style: solid;
        text-decoration-skip-ink: auto;
        text-decoration-thickness: auto;
        text-underline-offset: auto;
      }
    }
  }
}