@use '../../../App.scss' as rs;

.frindsSelect {
    .imgBox {
        img {
            box-shadow: (0, 10px, 32px, -4px rgba($color: #000000, $alpha: 0.2));
        }

        &:hover {
            img {
                transform: scale(1.1);
                transition: ease 0.3s;
            }
        }
    }


}