@use '../../../App.scss' as rs;
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap');

.kidsScreenWrap {
    position: relative;

    .imgBox {
        img {
            width: 100%;
            height: 100%;

            aspect-ratio: 1920/1080;
        }
    }

    .titleBox {
        position: absolute;
        top: 20%;
        left: 50%;
        transform: translate(-50%, 50%);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        // text-align: center;


        img {
            width: 36.8rem;
            height: 20rem;
            filter: drop-shadow(0 4px 24px rgba(255, 255, 255, 0.4));
        }

        .title {
            font-family: 'Nunito', sans-serif;
            @include rs.font (4rem, 700, #fff);

        }

        .des {
            margin-top: 4rem;
            @include rs.font (2.8rem, 500, #fff);
        }
    }

    .bgGra {
        width: 100%;
        aspect-ratio: 1840/250;
        margin-top: -180px;
        position: relative;
        z-index: 1;
        background: #ffffff;
        background: #ffffff;
        background: linear-gradient(180deg,
                rgba(0, 0, 0, 0) 0%,
                rgba(0, 47, 62, 0.5) 20%,
                rgba(0, 47, 62, 1) 80%);
    }
}