@use '../../../App.scss' as rs;

// $Theme: disney, pixar, marvel, starwars, NGC, hulu, fx;
$image-root: '../../../../public/images/kidsMain/theme/';
$Theme-sizes: (
    micikeyMouse: (width: 132px,
        height: 60px,
    ),
    princessFairy: (width: 180px,
        height: 50px,
    ),
    disneyJr: (width: 161px,
        height: 60px,
    ),
    car: (width: 107px,
        height: 70px,
    ),
    action: (width: 107px,
        height: 60px,
    ),
    pooh: (width: 128px,
        height: 60px,
    ),
    originals: (width: 118px,
        height: 42px,
    ),
);

.hidden {
    display: none !important;
}

.ThemeList {
    max-width: 1920px;
    margin: 0 auto;

    .menu {
        margin-bottom: 90px;

        ul {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 80px;
            padding-bottom: 30px;

            li {
                width: 120px;
                height: 80px;
                cursor: pointer;

                @each $Theme, $size-map in $Theme-sizes {
                    &.#{$Theme} {
                        $brand-width: map-get($size-map, width); // Map에서 width 값을 가져옴
                        $brand-height: map-get($size-map, height); // Map에서 height 값을 가져옴
                        width: $brand-width;
                        height: $brand-height;
                        background: url('#{$image-root}#{$Theme}.png') no-repeat center center;

                        &:hover {
                            background: url('#{$image-root}#{$Theme}_active.png') no-repeat center center;
                            opacity: 0.5;
                        }
                    }

                    &.#{$Theme}.active {
                        background: url('#{$image-root}#{$Theme}_active.png') no-repeat center center;
                        background-size: contain;

                        &:hover {
                            opacity: 1;
                        }
                    }
                }
            }
        }

        .ThemeList {
            background: linear-gradient(180deg,
                    rgba(0, 47, 62, 1) 4%,
                    rgba(12, 48, 64, 1) 16%,
                    rgba(47, 131, 139, 0.91) 53%,
                    rgba(12, 48, 64, 0.93) 81%,
                    rgba(0, 47, 62, 1) 100%);
            display: flex;
            padding-top: 60px;
            border-top: 1px solid rgba(255, 255, 255, 0.3);
            width: 100%;
            overflow: hidden;

            .themeText {
                width: 22.5%;
                display: flex;
                flex-direction: column;
                gap: 30px;
                align-items: center;
                justify-content: center;

                p {
                    @include rs.font(2.4rem, 600, #fff);
                    padding: 0 40px;
                    line-height: 150%;
                    letter-spacing: -0.6px;
                    word-break: keep-all;
                    text-align: center;
                }

                button {
                    @include rs.font(2rem, 500, #fff);
                    padding: 12px 16px;
                    border-radius: 8px;
                    border: 1px solid rgba(255, 255, 255, 0.2);
                    background: rgba(255, 255, 255, 0.1);
                    backdrop-filter: blur(12px);
                }
            }

            .themeMovie {
                width: calc(100% - 23%);

                .skeleton {
                    overflow: hidden;
                    display: flex;
                    gap: 20px;

                    .div {
                        width: 280px;
                        min-width: 280px;
                        aspect-ratio: 323/480;
                        border-radius: 8px;
                    }
                }

                .swiper-slide {
                    aspect-ratio: 323/480;
                    border-radius: 16px;
                    overflow: hidden;

                    a {
                        width: 100%;
                        height: inherit;
                        display: inline-block;
                    }

                    .movieThumbnail {
                        width: 100%;
                        height: 100%;
                    }

                    img {
                        max-width: 100%;
                        width: 100%;
                        vertical-align: middle;
                        object-fit: cover;
                        object-position: center;
                    }
                }
            }
        }
    }
}