@use '../../../App.scss' as rs;

.kidsDetailListWrap {
    background-color: #002F3E;
    padding-top: 10rem;

    .title {
        @include rs.font(4rem, 500, #fff);
        padding: 8rem 8rem 0;
    }

    .noResult {
        font-size: 2.4rem;
    }

    .kidsList {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
        gap: 4rem;
        padding: 8rem;

        .kidsItem {
            // width: 15%;
            margin-bottom: 4rem;
            box-shadow: 0 10px 32px -4px rgba(0, 0, 0, 0.2);

            .imgBox {
                width: 100%;
                aspect-ratio: 2 / 3;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    display: block;
                    border-radius: 8px;
                    background: rgba(#eee, 0.3);
                }
            }
        }
    }
}